.app {
  background-color: var(--app-background);
  height: 100%;
  overflow: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 87%;
  margin: 0 auto;
  margin-top: 10vw;
}

h1 {
  font-size: 26px;
  color: var(--main-text);
}

.header__theme {
  color: var(--h4-text);
}

.header__theme--text {
  font-size: 13px;
  display: inline;
  letter-spacing: 2.5px;
  vertical-align: top;
  margin-right: 1rem;
}

.header__theme:hover {
  color: var(--hover);
}
