* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Space Mono", monospace;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
}

.light-mode {
  --app-background: #f6f8fe;
  --main-text: #222731;
  --dark-mode: #4b6a9b;
  --h4-text: #4b6a9b;
  --button-color: #0079ff;
  --body-background: #fff;
  --date-color: #697c9a;
}

.dark-mode {
  --app-background: #141d24;
  --main-text: #fff;
  --dark-mode: #fff;
  --h4-text: #fff;
  --button-color: #0079ff;
  --body-background: #1e2a47;
  --date-color: #fff;
}
