main {
  background-color: var(--body-background);
  margin: 0 auto;
  margin-top: 30px;
  width: 85%;
  padding: clamp(32px, 4vw, 48px) clamp(24px, 4vw, 48px);
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 1rem;
  max-width: 1000px;
}

h4,
h3 {
  font-size: clamp(13px, 2vw, 16px);
}

.userInfo {
  display: flex;
}

.userInfo__name {
  margin-bottom: 8px;
}

.userInfo__name,
.userData__child__num {
  font-size: clamp(16px, 2.5vw, 26px);
}

.userInfo__img {
  height: clamp(70px, 15vw, 117px);
  width: auto;
  border-radius: 50%;
  margin-right: 19px;
}

.userInfo__username {
  color: #0079ff;
  font-weight: 400;
  margin-bottom: 6px;
}

.userInfo__date {
  color: var(--date-color);
  font-weight: 400;
}

.userBio {
  font-weight: 400;
  line-height: 25px;
  color: var(--h4-text);
  margin-top: 30px;
}

.userData {
  margin-top: 30px;
  background-color: var(--app-background);
  display: flex;
  justify-content: space-around;
  font-weight: 400;
  color: var(--main-text);
  font-size: 11px;
  padding: 18px 14px;
  border-radius: 1rem;
}

.userData__child {
  text-align: center;
}

.userData__child__title,
.userDetails__child__text {
  font-weight: 400;
}

.userDetails {
  margin-top: 30px;
  display: grid;
  gap: 10px;
}

.userDetails__child__text {
  display: inline;
  color: var(--h4-text);
  vertical-align: top;
}

.icon {
  display: inline-block;
  width: 33px;
}

.website:hover {
  text-decoration: underline;
}

.undefinedData {
  color: var(--unavailable);
}

@media (min-width: 500px) {
  .userDetails {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 800px) {
  .userInfo__parent {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }
}
